.sign {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    width: 100%;
}

.sign, .footer {
    background: url("../../assets/images/vec__photo.jpg") no-repeat;
    background-position: right right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    width: 100%;
    border-top: 1px solid #fff;
    height: 30px;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.footer__inner > * {
    color: #fff;
}

.sign__container {
    border: 2px solid rgb(255, 255, 255, 0.7);
    padding: 75px 30px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: #fff;
    margin-bottom: 20px;
}

.sign__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.label {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    width: 300px;
    display: block;
}

.label + .label {
    margin-top: 25px;
}

.input {
    background: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
}

.input::placeholder {
    color: #fff;
}

.signUp {
    background: #fff;
    width: 100%;
    border-radius: 40px;
    cursor: pointer;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    margin-bottom: 15px;
    transition: box-shadow 300ms ease-in, transform 300ms ease-in-out;
    border: none;
}

.signUp:active {
    transform: translateY(3px);
}

.signUp:hover {
    box-shadow: 0 5px 10px 1px rgb(52, 51, 51);
    transition: box-shadow 300ms ease-in;
}

.text {
    color: #fff;
    font-size: 1rem;
}

.text:hover {
    border-bottom: 1px solid #fff;
}

