.board__container {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
}

.board__navigate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 75px;
}

.board__createBoard {
  margin-top: 15px;
  padding: 15px;
}






.app {
  display: inline-flex;
  min-height: 100vh;
  margin-top: var(--heightHeader);
  padding-top: 10px;
}

.boards {
  margin: 5px;
  width: 350px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.todo__list {}

.todo__item {
  padding: 20px 15px;
  font-size: 1.5rem;
  width: 200px;
  border: 2px solid black;
  margin: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__item>.removeButton {
  position: initial;
}