html {
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 0.2px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --heightHeader: 60px;
  --headerColor: #000428;
  --footerColor: #e1dbdb;
  --formBackground: #34383d;
  --white: #fff;
  --black: #000;
  --labelFromBackground: #18191b;
  --transparent: transparent;
  --popupBackground: rgb(0, 0, 0, 0.7);
  --popupInner: rgb(0, 0, 0, 0.2);
  --gray: rgb(159, 158, 158);
  --backgroundLightGray: #f5f7fa;
}

.mt {
  margin-top: var(--heightHeader);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  background-color: var(--headerColor);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px 2px var(--black);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--heightHeader);
}

.header__logo {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.header__sign {
  color: var(--white);
  padding: 5px 10px;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 10px;
  transition: border 500ms linear, color 200ms linear;
}

.header__sign:hover {
  border-color: var(--footerColor, #fff);
  color: var(--footerColor);
}

.header__sign+.header__sign {
  margin-left: 10px;
}

.about {
  padding-top: var(--heightHeader);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--backgroundLightGray);
  height: 100vh;
}

.about__link {
  font-size: 1rem;
  color: var(--black);
}

.about__link+.about__link {
  margin-left: 15px;
}

.about__link:hover {
  text-decoration: underline;
}

.about__developer {
  height: 100vh;
  margin-top: var(--heightHeader);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__project {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: var(--heightHeader);
}

.sign-in {
  background-color: var(--formBackground);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sign-in__title {
  color: var(--white);
}

.sign-in__wrap {
  border-radius: 12px;
  background-color: var(--labelFromBackground);
  width: 350px;
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: 1fr 40px;
}

.sign-in__wrap-inp {
  grid-column: 1 / 3;
  padding: 10px;
}

.sign-in__submit {
  display: block;
  position: relative;
  grid-column: 2 / 3;
  background-color: var(--formBackground);
  color: var(--white);
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border: 10px solid var(--formBackground);
  text-align: center;
  cursor: pointer;
}

.sign-in__submit svg {
  transform: translateY(-20%);

}

.sign-in__submit::before {
  content: "";
  display: block;
  transform: translate(-100%, 500%);
  height: 2px;
  width: 300px;
  background-color: var(--formBackground, #fff);
}

.sign-in__input {
  background-color: var(--transparent, transparent);
  height: 35px;
  border: none;
  border-bottom: 2px solid var(--formBackground);
  color: var(--white);
  padding: 7px;
}

.sign-in__input:focus {
  outline: none;
}

/* BOARD */

.board {
 background: url("../assets/images/board__bg.jpg") no-repeat;
 height: 100vh;
 background-size: cover;
 background-position: center;
 width: 100%;
}

.board__inner {
  padding: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.board__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}

.board__form {
  padding-top: 10px;
  margin-bottom: 60px;
}

.board__todo {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.wrapper {
  text-align: center;
}

.board__link {
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  align-items: center;
  justify-content: center;

}

.board__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  list-style: none;
  background: transparent;
  border: 2px solid var(--white);
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.todo__compliete {
  width: 28px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create__board {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--formBackground);
}

.board__title {
  color: var(--white, #fff);
  margin-bottom: 20px;
}

.board__label {
  display: block;
}

.board-label__title {
  color: var(--white, #fff);
  margin: 10px 0 10px;
}

.boadrd__submit {
  margin-top: 15px;
  cursor: pointer;
}

.none {
  display: none;
}

.alert {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--popupBackground);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert__title {
  color: var(--white);
}

.alert__button {
  cursor: pointer;
  border: none;
  padding: 10px;
  transition: all 200ms linear;
}

.alert__button + .alert__button {
  margin-left: 5px;
}

.alert__button:hover {
  transform: translateY(3px);
}

.alert__button_delete {
  background-color: lightcoral;
  margin: 15px 0;
}

.footer {
  border-top: 1px solid #000;
  /* background-color: #5890d4; */
  /* position: absolute;
  bottom: 0;
  right: 0;
  left: 0; */
  width: 100%;
}

.footer__inner {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

