html {
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 0.2px;
  font-family: 'Noto Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --heightHeader: 60px;
  --headerColor: #000428;
  --footerColor: #e1dbdb;
  --formBackground: #34383d;
  --white: #fff;
  --black: #000;
  --labelFromBackground: #18191b;
  --transparent: transparent;
  --popupBackground: rgb(0, 0, 0, 0.7);
  --popupInner: rgb(0, 0, 0, 0.2);
  --gray: rgb(159, 158, 158);
  --backgroundLightGray: #f5f7fa;
}

.mt {
  margin-top: var(--heightHeader);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
}

.about {
  padding-top: var(--heightHeader);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--backgroundLightGray);
  height: 100vh;
}

.about__link {
  font-size: 1rem;
  color: var(--black);
}

.about__link+.about__link {
  margin-left: 15px;
}

.about__link:hover {
  text-decoration: underline;
}

.about__developer {
  height: 100vh;
  margin-top: var(--heightHeader);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__project {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: var(--heightHeader);
}

.footer {
  border-top: 1px solid #000;
  /* background-color: #5890d4; */
  /* position: absolute;
  bottom: 0;
  right: 0;
  left: 0; */
  width: 100%;
}

.footer__inner {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}