.todo {
    background: url("../assets/images/board__bg.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.todo__inner {
    border-radius: 30px;
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 1fr auto;
    align-items: center;
    column-gap: 30px;
}

.todo__column {
}

.todo__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.todo__item {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border: 2px solid var(--white, black);
}

.todo__compliete {

}

.todo__form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.todo__title {
    font-size: 2.5rem;
    padding: 15px 0 0 0;
    color: var(--white);
}

.form__title {
    padding: 15px 0 0 0;
}

.title {
    font-size: 2rem;
    color: var(--white);
    
}

.title__edit {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
    bottom: 15px;
    transition: all 200ms linear;
}

.title__edit:hover {
    transform: scale(1.05);
}

.descr {
    font-size: 1rem;
}

.container__label {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.label {
    margin-bottom: 15px;
}

.label__title {
    color: var(--white);
    margin-bottom: 5px;
}
