.create__board {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--formBackground);
}

.board__inner {
    padding: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--popupInner);
}

.board__title {
    color: var(--white, #fff);
    margin-bottom: 20px;
    font-size: 1.75rem;
}

.board__label {
    display: block;
}

.boardLabel__title {
    color: var(--white, #fff);
    margin: 10px 0 10px;
    font-size: 1.25rem;
}

.board__input {
    border: 2px solid;
    height: 60px;
    width: 350px;
    padding: 10px;
    margin-bottom: 25px;
    outline: none;
}

.board__input::placeholder {
    color: red;
}

.board__submit {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 200ms ease, background 200ms ease;
}

.board__submit:hover {
    background: lightgray;
    transform: scale(1.05);
}

.none {
    display: none;
}